# Name: Single Molecule Biophysics Plugins
# Author: C.M. Punter
# Version: 3.3
# Date: 2017/02/06

Plugins>Single Molecule Biophysics>Analyze, "Peak Finder", analyze.PeakFinder
Plugins>Single Molecule Biophysics>Analyze, "Peak Fitter", analyze.PeakFitter
Plugins>Single Molecule Biophysics>Analyze, "Single Peak Fitter", analyze.PeakFitter2
Plugins>Single Molecule Biophysics>Analyze, "Particle Tracker", analyze.ParticleTracker
Plugins>Single Molecule Biophysics>Analyze, "Drift Correction", analyze.DriftCorrection
Plugins>Single Molecule Biophysics>Analyze, "FFT Drift Correction", analyze.FFTDriftCorrection
Plugins>Single Molecule Biophysics>Analyze, "Palm Reconstruction", analyze.PalmReconstructor
Plugins>Single Molecule Biophysics>Analyze, "Conditional Palm Reconstruction", analyze.PalmReconstructorConditional
Plugins>Single Molecule Biophysics>Analyze, "Mean Square Displacement", analyze.MeanSquareDisplacement2
Plugins>Single Molecule Biophysics>Analyze, "Step Size Distribution", analyze.StepSizeDistribution
Plugins>Single Molecule Biophysics>Analyze, "Z-Axis Profile Panel", analyze.ZAxisProfilePanel
Plugins>Single Molecule Biophysics>Analyze, "Colocalize Peaks", analyze.Colocalization
Plugins>Single Molecule Biophysics>Analyze, "Step Fitter", analyze.StepFitter
Plugins>Single Molecule Biophysics>Analyze, "ROI Ancestry", analyze.RoiAncestry
Plugins>Single Molecule Biophysics>Analyze, "Correlate Images", analyze.Correlation

Plugins>Single Molecule Biophysics>Process, "Discoidal Averaging Filter", process.DiscoidalAveragingFilter
Plugins>Single Molecule Biophysics>Process, "Moving Average Filter", process.MovingAverageFilter
Plugins>Single Molecule Biophysics>Process, "Correct Background", process.CorrectBackground

Plugins>Single Molecule Biophysics>Utilities, "Results Sorter",  util.ResultsTableSorter
Plugins>Single Molecule Biophysics>Utilities, "Results Filter", util.ResultsTableFilter
Plugins>Single Molecule Biophysics>Utilities, "Results Plotter",  util.ResultsTablePlotter
Plugins>Single Molecule Biophysics>Utilities, "Results Fitter",  util.ResultsTableFitter
Plugins>Single Molecule Biophysics>Utilities, "Results Clustering",  util.ResultsTableClustering
Plugins>Single Molecule Biophysics>Utilities, "Duplicate View",  util.DuplicateView


Plugins>Single Molecule Biophysics>Benchmark, "Read from XML",  benchmark.ReadXML
Plugins>Single Molecule Biophysics>Benchmark, "Write to XML",  benchmark.WriteXML


